@model MovieWeb.Client.Models.Movie.MovieDeleteViewModel

    <h1>Warning</h1>

    <p>Vous êtes sur le point de supprimer<strong>@Model.Name</strong></p>

    <form method="post" asp-controller="Movie" asp-action="ConfirmDelete" asp-route-id="@Model.Id">
        <button class="btn btn-danger">Supprimer</button>
        <a class="btn btn-secondary" asp-controller="Actor" asp-action="Index">Annuler</a>
    </form>